 <section>    
  <div class="">
    <h2>Audio Page</h2>
    <img src="/images/image.jpg" alt="safreach image">
    <div class="mask"></div>
    <ul class="player-info info-one">
      <p>Safe Reach</p>
    </ul>
</div>
 </section>
 <section>
<audio  title="Audio player" controls>
    <source src="/audios/audio.mp3" type="audio/mp3">
      <track kind="captions" label="English captions" src="/audios/audio.txt" srclang="en" default>
     </audio>

 </section>

 

