<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section>
       
  <div class="player">
    <div class="mask"></div>
    <ul class="player-info info-one">
      <li>anti-bully in sports</li>
    </ul>
</div>

        </section>
        <section>

    <audio  title="Audio player" controls>
    <source src="/audios/audio.mp3" type="audio/mp3">
      <track kind="captions" label="English captions" src="/audios/audio.txt" srclang="en" default>
     </audio>

 </section>


</body>
</html>