<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Font Awesome CSS file -->
 <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
  <body>
    <header>
    <section id="nav-bar">

        <img class="menu" src="/images/menu_FILL0_wght400_GRAD0_opsz48.png" alt="Menu icon">
        <img class="logo" src="./images/logo-removebg-preview.png" alt="Logo for youtube">
        <input class="search" type="text" placeholder="Search">
                  <a href="/"><i class="fas fa-home" ></i></a>

            <a href="/video"><i class="fas fa-film" ></i></a>
            <a href="/audio"><i class="fas fa-music"></i></a>
        <h3 class="sign"> SIGN IN</h3>

    </section>
    </header>
        
        
    </main>
    {{{body}}}
     <div id="details-container">
            <h3 class="views">3,71,134 views</h3>
            <img class="like" src="./images/like.png" alt="Thumbs up icon">
            <h3 class="like-text">Like</h3>
            <img class="dislike" src="./images/unlike.png" alt="Thumbs down icon">
            <h3 class="dislike-text">dislike</h3>
            <img class="share" src="./images/share.png" alt="Share icon">
            <h3 class="share-text">Share</h3>
            <img class="clip" src="./images/clip.png" alt="Clip icon">
            <h3 class="clip-text">Clip</h3>
            <img class="save" src="./images/save.png" alt="Save icon">
            <h3 class="save-text">Save</h3>
            <img class="more" src="./images/more.png" alt="More icon">
        </div>

    </section>
</body>
    <footer>
      <div class="footer-content">
        <p>&copy; 2023 Audio Video. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>




  
    