<section>
  <div class="video-container">
    <h2>Video player</h2>
    <video title="Video player" controls>
      <source src="/videos/video.mp4" type="video/mp4">
      <track kind="captions" label="English captions" src="/videos/transcript.txt" srclang="en" default>
    </video>
  </div>
  <div>
    <button class="transcript-button"><a href="/videos/transcript.txt">Transcript</a></button>
  </div>
</section>
